flows.json
[
    {
        "id": "ab5fb15ec6fcc1cb",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7d11437877bfdd66",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "23e93d0f48d731ee",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7596cda5fb6adac8",
        "type": "mqtt-broker",
        "name": "MQRabbit",
        "broker": "test-client@127.0.0.1:8161",
        "port": "1883",
        "clientid": "test-client",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Connect",
        "birthQos": "0",
        "birthRetain": "true",
        "birthPayload": "Conectado com sucesso",
        "birthMsg": {},
        "closeTopic": "Disconnect",
        "closeQos": "0",
        "closeRetain": "true",
        "closePayload": "Desconectado com sucesso",
        "closeMsg": {},
        "willTopic": "Error",
        "willQos": "0",
        "willRetain": "true",
        "willPayload": "Deu erro legal",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dd050acd69d40738",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c19046458277741f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7132443ab9b595c8",
        "type": "ui_tab",
        "name": "Pag2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3360c64701d92d51",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "7132443ab9b595c8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fd0bf402b78889ce",
        "type": "ui_group",
        "name": "Velocidade",
        "tab": "c19046458277741f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "634f30b021c44c8d",
        "type": "ui_group",
        "name": "Umidade",
        "tab": "c19046458277741f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "538433add29eac8d",
        "type": "ui_group",
        "name": "Sensacao_Termica",
        "tab": "c19046458277741f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "920c0b07fbf70e4b",
        "type": "ui_group",
        "name": "speed",
        "tab": "7132443ab9b595c8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3bedc386cd729c97",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "7132443ab9b595c8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0e9d32e2cced3513",
        "type": "ui_group",
        "name": "feels like",
        "tab": "7132443ab9b595c8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "befd125265503af3",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "c19046458277741f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cefd37f9896a3494",
        "type": "inject",
        "z": "ab5fb15ec6fcc1cb",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "90601181acf6095b"
            ]
        ]
    },
    {
        "id": "814b02b0882dd406",
        "type": "debug",
        "z": "ab5fb15ec6fcc1cb",
        "name": "msg payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 120,
        "wires": []
    },
    {
        "id": "90601181acf6095b",
        "type": "http request",
        "z": "ab5fb15ec6fcc1cb",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=-25.5475&lon=-46.6361&appid=ae10626011dbb050cfebc1ffa52f7829",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 180,
        "wires": [
            [
                "6f963aea2aefa2af"
            ]
        ]
    },
    {
        "id": "6f963aea2aefa2af",
        "type": "json",
        "z": "ab5fb15ec6fcc1cb",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 530,
        "y": 180,
        "wires": [
            [
                "7a308f3d1c6976ca",
                "7c6f1c51473f519e"
            ]
        ]
    },
    {
        "id": "7a308f3d1c6976ca",
        "type": "change",
        "z": "ab5fb15ec6fcc1cb",
        "name": "change",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 80,
        "wires": [
            [
                "814b02b0882dd406"
            ]
        ]
    },
    {
        "id": "7c6f1c51473f519e",
        "type": "function",
        "z": "ab5fb15ec6fcc1cb",
        "name": "function 1",
        "func": "msg.payload = {\n    \"temperatura\": msg.payload.main.temp,\n    \"min\": msg.payload.main.temp_min,\n    \"max\": msg.payload.main.temp_max,\n    \"vento\": msg.payload.wind.speed\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 280,
        "wires": [
            [
                "bfd092cefb814746"
            ]
        ]
    },
    {
        "id": "bfd092cefb814746",
        "type": "debug",
        "z": "ab5fb15ec6fcc1cb",
        "name": "msg payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "3b4f6c24cb2a1f16",
        "type": "inject",
        "z": "7d11437877bfdd66",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 180,
        "wires": [
            [
                "0777c1d0915de97e"
            ]
        ]
    },
    {
        "id": "3d821dba23a5c08f",
        "type": "http request",
        "z": "7d11437877bfdd66",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=-25.5475&lon=-46.6361&appid=ae10626011dbb050cfebc1ffa52f7829",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 100,
        "wires": [
            [
                "ee66053931cf5080"
            ]
        ]
    },
    {
        "id": "ee66053931cf5080",
        "type": "json",
        "z": "7d11437877bfdd66",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 120,
        "wires": [
            [
                "807d36d8d04ec235",
                "5e9a525d1cfa8309",
                "2fe9c0993f0c5f2c",
                "4d48863ab65a2503",
                "3fb1f6815247433b",
                "328405c87684f4ce",
                "2121c695bb46d795"
            ]
        ]
    },
    {
        "id": "807d36d8d04ec235",
        "type": "change",
        "z": "7d11437877bfdd66",
        "name": "temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "91f50fac2b52bc9b",
                "e950d4c0ab74ac41"
            ]
        ]
    },
    {
        "id": "5e9a525d1cfa8309",
        "type": "function",
        "z": "7d11437877bfdd66",
        "name": "filtro temp",
        "func": " msg.payload = {\n     \n     \"temp\": msg.payload.main.temp,\n     \"temp_min\": msg.payload.main.temp_min,\n     \"temp_max\": msg.payload.main.temp_max,\n     \"wind_speed\": msg.payload.wind.speed    \n     \n }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "2fe9c0993f0c5f2c",
        "type": "change",
        "z": "7d11437877bfdd66",
        "name": "temp_min",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_min",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 280,
        "wires": [
            [
                "c8d03ce59a5276c4"
            ]
        ]
    },
    {
        "id": "4d48863ab65a2503",
        "type": "change",
        "z": "7d11437877bfdd66",
        "name": "temp_max",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 340,
        "wires": [
            [
                "b15097f8d17bbb84"
            ]
        ]
    },
    {
        "id": "3fb1f6815247433b",
        "type": "change",
        "z": "7d11437877bfdd66",
        "name": "speed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 400,
        "wires": [
            [
                "e669ee338f82d732"
            ]
        ]
    },
    {
        "id": "328405c87684f4ce",
        "type": "change",
        "z": "7d11437877bfdd66",
        "name": "humidade",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 460,
        "wires": [
            [
                "25935f03f78ad30e"
            ]
        ]
    },
    {
        "id": "2121c695bb46d795",
        "type": "change",
        "z": "7d11437877bfdd66",
        "name": "sensacao termica",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.feels_like",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 520,
        "wires": [
            [
                "db09b01de8095a9d"
            ]
        ]
    },
    {
        "id": "fc26c1f0a8737022",
        "type": "http request",
        "z": "7d11437877bfdd66",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=44.34&lon=10.99&appid=ae10626011dbb050cfebc1ffa52f7829",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 600,
        "wires": [
            [
                "d1c6b02c2730f409"
            ]
        ]
    },
    {
        "id": "d1c6b02c2730f409",
        "type": "json",
        "z": "7d11437877bfdd66",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 620,
        "wires": [
            [
                "b6bdd76e47c96c74",
                "5243c2848f8fae5f",
                "41cfdceaf06771c5",
                "e728fedc7a265f1a",
                "3c674f155a50adea",
                "9f1b7b4361db0fe8",
                "096d83916ca2e8a7"
            ]
        ]
    },
    {
        "id": "b6bdd76e47c96c74",
        "type": "change",
        "z": "7d11437877bfdd66",
        "name": "temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 720,
        "wires": [
            [
                "e950d4c0ab74ac41",
                "91f50fac2b52bc9b"
            ]
        ]
    },
    {
        "id": "5243c2848f8fae5f",
        "type": "function",
        "z": "7d11437877bfdd66",
        "name": "filtro temp",
        "func": " msg.payload = {\n     \n     \"temp\": msg.payload.main.temp,\n     \"temp_min\": msg.payload.main.temp_min,\n     \"temp_max\": msg.payload.main.temp_max,\n     \"wind_speed\": msg.payload.wind.speed    \n     \n }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 620,
        "wires": [
            [
                "2bdd262211dfdebc"
            ]
        ]
    },
    {
        "id": "41cfdceaf06771c5",
        "type": "change",
        "z": "7d11437877bfdd66",
        "name": "temp_min",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_min",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 780,
        "wires": [
            [
                "960934800f7ea0f2"
            ]
        ]
    },
    {
        "id": "e728fedc7a265f1a",
        "type": "change",
        "z": "7d11437877bfdd66",
        "name": "temp_max",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp_max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 840,
        "wires": [
            [
                "b881d83c882b9cd4"
            ]
        ]
    },
    {
        "id": "3c674f155a50adea",
        "type": "change",
        "z": "7d11437877bfdd66",
        "name": "speed",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 900,
        "wires": [
            [
                "0f16e5d4998703f6"
            ]
        ]
    },
    {
        "id": "9f1b7b4361db0fe8",
        "type": "change",
        "z": "7d11437877bfdd66",
        "name": "humidade",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 960,
        "wires": [
            [
                "4f97f4afdf3babe5"
            ]
        ]
    },
    {
        "id": "096d83916ca2e8a7",
        "type": "change",
        "z": "7d11437877bfdd66",
        "name": "sensacao termica",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.feels_like",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 1020,
        "wires": [
            [
                "7533d506eea383fa"
            ]
        ]
    },
    {
        "id": "91f50fac2b52bc9b",
        "type": "ui_gauge",
        "z": "7d11437877bfdd66",
        "name": "",
        "group": "befd125265503af3",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºK",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca0000"
        ],
        "seg1": "19",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "b15097f8d17bbb84",
        "type": "ui_gauge",
        "z": "7d11437877bfdd66",
        "name": "",
        "group": "befd125265503af3",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Máxima",
        "label": "ºK",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "19",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 340,
        "wires": []
    },
    {
        "id": "e669ee338f82d732",
        "type": "ui_gauge",
        "z": "7d11437877bfdd66",
        "name": "",
        "group": "fd0bf402b78889ce",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Velocidade",
        "label": "kt",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "19",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "25935f03f78ad30e",
        "type": "ui_gauge",
        "z": "7d11437877bfdd66",
        "name": "",
        "group": "634f30b021c44c8d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "19",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "db09b01de8095a9d",
        "type": "ui_gauge",
        "z": "7d11437877bfdd66",
        "name": "",
        "group": "538433add29eac8d",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensacao_Termica",
        "label": "ºK",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "19",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 520,
        "wires": []
    },
    {
        "id": "e950d4c0ab74ac41",
        "type": "ui_gauge",
        "z": "7d11437877bfdd66",
        "name": "",
        "group": "3360c64701d92d51",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca0000"
        ],
        "seg1": "19",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 720,
        "wires": []
    },
    {
        "id": "960934800f7ea0f2",
        "type": "ui_gauge",
        "z": "7d11437877bfdd66",
        "name": "",
        "group": "3360c64701d92d51",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Miníma",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "19",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 780,
        "wires": []
    },
    {
        "id": "b881d83c882b9cd4",
        "type": "ui_gauge",
        "z": "7d11437877bfdd66",
        "name": "",
        "group": "3360c64701d92d51",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Máxima",
        "label": "ºK",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "19",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 840,
        "wires": []
    },
    {
        "id": "0f16e5d4998703f6",
        "type": "ui_gauge",
        "z": "7d11437877bfdd66",
        "name": "",
        "group": "920c0b07fbf70e4b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Velocidade",
        "label": "kt",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "19",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 900,
        "wires": []
    },
    {
        "id": "4f97f4afdf3babe5",
        "type": "ui_gauge",
        "z": "7d11437877bfdd66",
        "name": "",
        "group": "3bedc386cd729c97",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "19",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 960,
        "wires": []
    },
    {
        "id": "7533d506eea383fa",
        "type": "ui_gauge",
        "z": "7d11437877bfdd66",
        "name": "",
        "group": "0e9d32e2cced3513",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Sensacao_Termica",
        "label": "ºK",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "19",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 850,
        "y": 1020,
        "wires": []
    },
    {
        "id": "0777c1d0915de97e",
        "type": "trigger",
        "z": "7d11437877bfdd66",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "3d821dba23a5c08f",
                "fc26c1f0a8737022"
            ]
        ]
    },
    {
        "id": "c8d03ce59a5276c4",
        "type": "ui_gauge",
        "z": "7d11437877bfdd66",
        "name": "",
        "group": "befd125265503af3",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura Miníma",
        "label": "ºK",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "19",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "2bdd262211dfdebc",
        "type": "debug",
        "z": "7d11437877bfdd66",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 620,
        "wires": []
    },
    {
        "id": "4c4929855dd0d07c",
        "type": "inject",
        "z": "23e93d0f48d731ee",
        "name": "Teste",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Teste/Teste1",
        "payload": "Open",
        "payloadType": "str",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "ddbd066ce393c2ff"
            ]
        ]
    },
    {
        "id": "ddbd066ce393c2ff",
        "type": "mqtt out",
        "z": "23e93d0f48d731ee",
        "name": "Publish",
        "topic": "",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "7596cda5fb6adac8",
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "fd83164a447e3212",
        "type": "mqtt in",
        "z": "23e93d0f48d731ee",
        "name": "Subscribe",
        "topic": "teste/#",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "7596cda5fb6adac8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 320,
        "wires": [
            [
                "957fea06631db5d2"
            ]
        ]
    },
    {
        "id": "957fea06631db5d2",
        "type": "debug",
        "z": "23e93d0f48d731ee",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 320,
        "wires": []
    }
]